.navbar-header.navbar-right
	= link_to 'Inicio', root_path, class: 'navbar-brand'
	= link_to 'Nova Postagem', new_activity_path, class: 'navbar-brand'
	= link_to 'Perfil', user_path(current_user), class: 'navbar-brand'
	= link_to 'Sair', user_session_path(current_user), method: :delete, class: 'navbar-brand'