.navbar-header.navbar-right
	= link_to 'Inicio', root_path, class: 'navbar-brand'
	= link_to 'Login', new_user_session_path, class: 'navbar-brand'
	= link_to 'Novo', new_user_path, class: 'navbar-brand'